* {
    box-sizing: border-box;
  }

body {
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: Arial;
  }

nav,footer{
    background-color:rgb(144, 144, 144);
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav > ul, footer > ul {
    list-style: none;
    padding-right: 0;
    text-align: center;
  }

  nav > ul > li, footer > ul > li{
    display: inline-block;
  }

.paz{
    padding: 0;
    display: inline;
}
  nav > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 80px 20px 10px;
    display: block;
  }

  footer > ul > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 20px;
  }

  nav > ul > li > a:hover, footer > ul > li > a:hover {
    text-decoration: underline;
    color: blue;
  }

